<div class='addiction'>
    <div class='addiction__phone'>
        <img class='addiction__phone-image' src='@@assetPath@@/assets/images/phone.png' />
        <img class='addiction__notification' src='@@assetPath@@/assets/images/notification-4.png' />
        <img class='addiction__notification' src='@@assetPath@@/assets/images/notification-2.png' />
        <img class='addiction__notification' src='@@assetPath@@/assets/images/notification-3.png' />
        <img class='addiction__notification' src='@@assetPath@@/assets/images/notification.png' />
        <img class='addiction__notification' src='@@assetPath@@/assets/images/notification-4.png' />
        <img class='addiction__notification' src='@@assetPath@@/assets/images/notification-3.png' />
    </div>
</div>
