<div class='fox'>
    <div class='fox__trump'></div>
    <div class='fox-tv'>
        <img class='fox-tv__screen' src='@@assetPath@@/assets/images/screen.jpg' />
        <div class='fox-tv__graphics'>
            <div class='fox-tv__graphics-top'>
                <div class='fox-tv__fox-logo'>
                </div>
                <div class='fox-tv__graphics-main'>
                    <h2 class='fox-tv__headline'>Hi Donald, You did a great job today</h2>
                    <h3 class='fox-tv__show-name'>Fox & Friends</h3>
                </div>
            </div>
            <div class='fox-tv__graphics-bottom'>
                <div class='fox-tv__graphics-ticker'>
                    <span class='fox-tv__ticker'>President of cool! Trump wears leather jacket on aircraft carrier</span>
                    <span class='fox-tv__ticker'>Trump Towers over rivals</span>
                    <span class='fox-tv__ticker'>Trump praised as 'man of action' over locker room talk</span>
                </div>
            </div>
        </div>
    </div>
</div>