.addiction {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    background: #3e3842;
    background-image: url('@@assetPath@@/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.addiction__phone {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    top: 18.6vh;
    height: 22.3vh;
    width: 22.3vh;

    @media screen and (orientation: landscape) {
        top: 17vw;
        width: 19.8vw;
        height: 19.8vw;
    }

    @media screen and (max-aspect-ratio: 10/9) and (orientation: landscape) {
        top: 18.6vh;
        width: 22.3vh;
        height: 22.3vh;
    }

    @media screen and (orientation: portrait) {
        top: 18.6vh;
        width: 22.3vh;
        height: 22.3vh;
    }
}

.addiction__phone-image {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

@keyframes notify {
    0%, 13%, 100% {
        transform: translateX(100%) translateY(0)
    }
    14%, 29% {
        transform: translateX(0) translateY(0);
    }
    30%, 45% {
        transform: translateX(0) translateY(100%);
    }
    46%, 61% {
        transform: translateX(0) translateY(200%);
    }
    62%, 77% {
        transform: translateX(0) translateY(300%);
    }
    78%, 93% {
        transform: translateX(0) translateY(400%);
    }
    94% {
        transform: translateX(100%) translateY(400%);
    }
}

.addiction__notification {
    position: absolute;
    top: 49%;
    z-index: 3;
    left: 38.4%;
    width: 21.4%;
    animation: notify 12s linear infinite;
}

.addiction__notification:nth-of-type(2) {
    animation-delay: -2s;
}

.addiction__notification:nth-of-type(3) {
    animation-delay: -4s;
}

.addiction__notification:nth-of-type(4) {
    animation-delay: -6s;
}

.addiction__notification:nth-of-type(5) {
    animation-delay: -8s;
}

.addiction__notification:nth-of-type(6) {
    animation-delay: -10s;
}

.addiction__notification:nth-of-type(7) {
    animation-delay: -12s;
}
